In [1]:
import pandas as pd
import csv

In [2]:
!ls

__pycache__                         info_CountryEarning_map-out.txt
file_reader.ipynb                   info_CountryEarning_red-in.txt
hw3_test.ipynb                      info_CountryEarning_stats.txt
hw3_test2.ipynb                     mockmr.py
info_CountryEarning2_map-in.txt     online-retail-dataset.csv
info_CountryEarning2_map-out.txt    q0
info_CountryEarning2_red-in.txt     q0.py
info_CountryEarning2_stats.txt      q1.py
info_CountryEarning3_map-in.txt     q1output
info_CountryEarning3_map-out.txt    q2.py
info_CountryEarning3_red-in.txt     q2output
info_CountryEarning3_stats.txt      q3.py
info_CountryEarningFreq_map-in.txt  q3output
info_CountryEarningFreq_map-out.txt q4.py
info_CountryEarningFreq_red-in.txt  q4output
info_CountryEarningFreq_stats.txt   testfile.csv
info_CountryEarning_map-in.txt      testfile1.csv

In [5]:
pd.read_csv("testfile.csv")

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
751,536446,21891,TRADITIONAL WOODEN SKIPPING ROPE,2,12/1/2010 12:15,1.25,15983.0,United Kingdom
752,536446,22619,SET OF 6 SOLDIER SKITTLES,8,12/1/2010 12:15,3.75,15983.0,United Kingdom
753,536446,22620,4 TRADITIONAL SPINNING TOPS,6,12/1/2010 12:15,1.25,15983.0,United Kingdom
754,536446,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,12,12/1/2010 12:15,2.55,15983.0,United Kingdom
755,536446,85169B,BLACK LOVE BIRD CANDLE,24,12/1/2010 12:15,1.25,15983.0,United Kingdom

In [14]:
list(csv.reader(["100,400,yes,I have an apple, if I like it"]))[0]

['100', '400', 'yes', 'I have an apple', ' if I like it']

## Run

### q0 sample data

In [10]:
!more q0.py

=
import pandas as pd


def main():
        data = pd.read_csv("online-retail-dataset.csv")

        rows = data.sample(frac = 0.0001)

        rows.to_csv("testfile.csv", index=False)

if __name__ == '__main__':
        main()
>(END)

In [11]:
!python3 q0.py

In [12]:
pd.read_csv("testfile.csv")

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,563239,21242,RED RETROSPOT PLATE,2,8/15/2011 10:02,1.69,15048.0,United Kingdom
1,544659,84819,DANISH ROSE ROUND SEWING BOX,1,2/22/2011 13:20,4.25,18114.0,United Kingdom
2,565430,23252,VINTAGE RED ENAMEL TRIM JUG,2,9/4/2011 13:07,3.75,14335.0,Germany
3,570871,22271,FELTCRAFT DOLL ROSIE,1,10/12/2011 16:36,5.79,NaN,United Kingdom
4,564371,22728,ALARM CLOCK BAKELIKE PINK,4,8/25/2011 9:53,3.75,17705.0,United Kingdom
5,565616,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,4,9/5/2011 15:26,7.95,15238.0,United Kingdom
6,552711,21166,COOK WITH WINE METAL SIGN,12,5/11/2011 8:32,2.08,16143.0,United Kingdom
7,558614,22503,CABIN BAG VINTAGE PAISLEY,1,6/30/2011 15:56,16.63,NaN,United Kingdom
8,548806,22960,JAM MAKING SET WITH JARS,12,4/4/2011 12:52,3.75,13098.0,United Kingdom
9,577768,22752,SET 7 BABUSHKA NESTING BOXES,3,11/21/2011 15:18,16.63,NaN,United Kingdom
10,560025,22614,PACK OF 12 SPACEBOY TISSUES,2,7/14/2011 13:00,0.29,18283.0,United Kingdom
11,571670,21976,PACK OF 60 MUSHROOM CAKE CASES,24,10/18/2011 13:12,0.55,12611.0,Italy
12,572451,23240,SET OF 4 KNICK KNACK TINS DOILY,6,10/24/2011 12:36,4.15,12921.0,United Kingdom
13,566649,22086,PAPER CHAIN KIT 50'S CHRISTMAS,12,9/14/2011 11:26,2.95,18173.0,United Kingdom
14,575739,23540,WALL ART THE MAGIC FOREST,1,11/11/2011 9:05,14.13,NaN,United Kingdom
15,549277,22916,HERB MARKER THYME,2,4/7/2011 13:11,0.65,16469.0,United Kingdom
16,580637,23300,GARDENERS KNEELING PAD CUP OF TEA,1,12/5/2011 12:40,1.65,15033.0,United Kingdom
17,538895,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",20,12/15/2010 9:07,0.42,14401.0,United Kingdom
18,558861,23239,SET OF 4 KNICK KNACK TINS POPPIES,6,7/4/2011 12:19,4.15,13373.0,United Kingdom
19,580893,23301,GARDENERS KNEELING PAD KEEP CALM,1,12/6/2011 12:38,1.65,17290.0,United Kingdom
20,565917,23145,ZINC T-LIGHT HOLDER STAR LARGE,2,9/7/2011 16:15,2.08,NaN,United Kingdom
21,558700,82600,NO SINGING METAL SIGN,1,7/1/2011 12:33,2.10,17920.0,United Kingdom
22,567213,22867,HAND WARMER BIRD DESIGN,3,9/19/2011 11:04,2.10,14684.0,United Kingdom
23,552884,22666,RECIPE BOX PANTRY YELLOW DESIGN,6,5/12/2011 10:15,2.95,12395.0,Belgium
24,580734,20725,LUNCH BAG RED RETROSPOT,20,12/6/2011 8:46,1.65,12766.0,Portugal
25,580071,22357,KINGS CHOICE BISCUIT TIN,4,12/1/2011 13:47,4.25,15500.0,United Kingdom
26,567085,21194,PINK HONEYCOMB PAPER FAN,12,9/16/2011 12:38,0.65,12434.0,Australia
27,563613,22627,MINT KITCHEN SCALES,4,8/18/2011 8:49,8.50,12688.0,Israel
28,563729,15056BL,EDWARDIAN PARASOL BLACK,24,8/18/2011 17:39,5.95,14051.0,United Kingdom
29,563854,21124,SET/10 BLUE POLKADOT PARTY CANDLES,24,8/19/2011 15:24,1.25,12364.0,Belgium
30,564303,22149,FELTCRAFT 6 FLOWER FRIENDS,6,8/24/2011 12:04,2.10,16042.0,United Kingdom
31,C562375,23314,VINTAGE CHRISTMAS TABLECLOTH,-4,8/4/2011 14:46,12.50,14911.0,EIRE
32,570255,22080,RIBBON REEL POLKADOTS,20,10/10/2011 9:41,1.65,17648.0,United Kingdom
33,556500,23175,REGENCY MILK JUG PINK,4,6/13/2011 7:58,3.25,13468.0,United Kingdom
34,542133,21916,SET 12 RETRO WHITE CHALK STICKS,24,1/25/2011 16:33,0.42,13049.0,United Kingdom
35,540848,21033,JUMBO BAG CHARLIE AND LOLA TOYS,16,1/12/2011 9:26,2.51,NaN,United Kingdom
36,561037,22716,CARD CIRCUS PARADE,12,7/24/2011 11:55,0.42,12472.0,Germany
37,540418,22144,CHRISTMAS CRAFT LITTLE FRIENDS,1,1/7/2011 11:04,4.21,NaN,United Kingdom
38,543820,85049F,BABY BOOM RIBBONS,2,2/13/2011 16:05,1.25,16084.0,United Kingdom
39,550204,21931,JUMBO STORAGE BAG SUKI,5,4/15/2011 10:37,4.13,NaN,United Kingdom
40,550827,POST,POSTAGE,3,4/21/2011 10:16,18.00,12670.0,France
41,558699,23121,PACK OF 6 COCKTAIL PARASOL STRAWS,24,7/1/2011 12:17,0.42,12494.0,France
42,576339,23322,LARGE WHITE HEART OF WICKER,2,11/14/2011 15:27,5.79,14096.0,United Kingdom
43,552192,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",4,5/6/2011 14:16,4.95,15258.0,United Kingdom
44,571270,85034A,3 GARDENIA MORRIS BOXED CANDLES,3,10/16/2011 12:09,1.25,12940.0,United Kingdom
45,564754,21090,SET/6 COLLAGE PAPER PLATES,3,8/30/2011 10:29,0.83,NaN,United Kingdom
46,560265,21124,SET/10 BLUE POLKADOT PARTY CANDLES,24,7/17/2011 13:48,1.25,17863.0,United Kingdom
47,552365,20886,BOX OF 9 PEBBLE CANDLES,3,5/9/2011 12:25,1.95,16440.0,United Kingdom
48,548987,21713,CITRONELLA CANDLE FLOWERPOT,4,4/5/2011 12:50,2.10,14535.0,United Kingdom
49,556482,21242,RED RETROSPOT PLATE,16,6/12/2011 13:04,1.69,17242.0,United Kingdom
50,573903,23501,KEY RING BASEBALL BOOT UNION JACK,20,11/1/2011 14:51,1.25,14667.0,United Kingdom
51,559865,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,7/13/2011 10:39,2.08,14409.0,United Kingdom
52,577485,23266,SET OF 3 WOODEN STOCKING DECORATION,2,11/20/2011 11:56,1.25,16360.0,United Kingdom
53,580729,22326,ROUND SNACK BOXES SET OF4 WOODLAND,3,12/5/2011 17:24,5.79,NaN,United Kingdom

### q1

In [3]:
!more q1.py

from mockmr import MockMR
import csv

#class CounrtryEarning(MRJob):
class CountryEarning(MockMR):
    def mapper(self, key, line):
        # read data, skip tilte, strip()
        parts = list(csv.reader([line]))[0]
        if parts[0] != 'InvoiceNo':
            country = parts[-1].strip()
            quantity = int(parts[3].strip().strip())
            unitPrice = float(parts[-3].strip())
            yield (country, quantity * unitPrice)


    def reducer(self, country, values):
        yield country, sum(values)

if __name__ == '__main__':
    CountryEarning.run(trace=True,  input_kv=False)
>(END)

In [4]:
!mkdir q1output
!rm -rf q1output
!python3 q1.py input=online-retail-dataset.csv output=q1output mappers=4 reducers=3

mkdir: q1output: File exists
Hooray, your job completed.
  The output is in the directory `q1output'
  Job statistics are in the file `info_CountryEarning_stats.txt'
  Mapper input info is in `info_CountryEarning_map-in.txt'
  Mapper output info is in `info_CountryEarning_map-out.txt'
  Reducer input info is in `info_CountryEarning_red-in.txt'

In [5]:
!more info_CountryEarning_red-in.txt

### These are the inputs to the reducers
Reducer 0:
    ('Bahrain', [205.74, -205.74, 30.0, 120.0, 75.0, 19.9, 39.6, 25.5, 19.799999999999997, 17.700000000000003, 17.700000000000003, 17.700000000000003, 25.5, 25.5, 25.5, 19.9, 11.6, 39.8, 17.700000000000003])
>ium', [25.200000000000003, 19.9, 50.4, 50.4, 50.4, 26.400000000000002, 26.400000000000002, 19.799999999999997, 19.5, 8.5, 13.200000000000001, 36.0, 15.0, 25.4, 39.8, 51.0, 15.0, 27.04, 20.4, 20.1, 29.9, 17.700000000000003, 30.0, 23.4, 4.5600000000000005, 4.5600000000000005, 10.2, 38.25, 40.8, 10.2, 10.2, 35.400000000000006, 17.700000000000003, 11.9, 2.5, 23.4, 8.5, 8.5, 8.5, 8.5, 54.0, 12.75, 15.9, 10.2, 10.08, 10.08, 10.08, 30.0, 8.5, 8.5, 13.52, 15.0, 12.600000000000001, 9.899999999999999, 14.850000000000001, 13.52, 10.2, 45.0, 30.0, 30.0, 30.0, 15.0, 15.0, 30.0, 10.08, 10.08, 10.08, 10.08, 10.08, 5.04, 15.600000000000001, 15.600000000000001, 15.600000000000001, 12.0, 10.08, 10.5, 13.200000000000001, 13.200000000000001, 13.200000000000001, 13.200000000000001, 10.2, 23.400000000000002, 16.5, 16.5, 47.400000000000006, 15.0, 17.700000000000003, 7.800000000000001, 7.800000000000001, 10.2, 10.2, 10.2, 10.2, 15.0, 45.0, -2.95, -9.95, -2.95, -19.049999999999997, 20.16, 10.08, 20.16, 20.16, 23.400000000000002, 51.839999999999996, 19.799999999999997, 19.799999999999997, 19.799999999999997, 19.799999999999997, 60.0, 45.0, 17.0, 15.299999999999999, 17.700000000000003, 12.600000000000001, 50.400000000000006, 30.0, 10.0, 10.0, 10.0, 23.4, 23.4, 23.4, 17.0, 13.52, 13.52, 13.52, 6.8, 6.8, 6.8, -11.25, 19.5, 19.5, 19.5, 19.5, 19.5, 23.4, 35.400000000000006, 17.700000000000003, 9.899999999999999, 11.7, 30.0, 17.0, 15.8, 5info_CountryEarning_red-in.txt

In [6]:
!more q1output/part-0001

Australia       137077.26999999973
Austria 10154.319999999996
Canada  3666.380000000001
Cyprus  12946.289999999999
Denmark 18768.140000000003
European Community      1291.75
France  197403.90000000002
Hong Kong       10117.040000000003
Iceland 4309.999999999997
Lebanon 1693.8800000000003
Portugal        29367.019999999993
Spain   54774.57999999997
United Kingdom  8187806.364001113
Unspecified     4749.789999999996
>ut/part-0001 (END)

### q2

In [7]:
!more q2.py

from mockmr import MockMR
import csv

#class StatCount(MRJob):
class CountryEarning2(MockMR):
    def mapper(self, key, line):
        # read data, skip tilte, strip()
        parts = list(csv.reader([line]))[0]
        if parts[0] != 'InvoiceNo':
            country = parts[-1].strip()
            quantity = int(parts[3].strip().strip())
            unitPrice = float(parts[-3].strip())
            yield (country, [quantity, unitPrice]) # send country and a list containing quantity and unitprice.


    def reducer(self, country, values):
        yield country, [sum([i[0] for i in values]), sum([i[0]*i[1] for i in values])] # first element is quantity, second element is total money.

if __name__ == '__main__':
    CountryEarning2.run(trace=True,  input_kv=False)
>(END)

In [8]:
!mkdir q2output
!rm -rf q2output
!python3 q2.py input=online-retail-dataset.csv output=q2output mappers=4 reducers=3

mkdir: q2output: File exists
Hooray, your job completed.
  The output is in the directory `q2output'
  Job statistics are in the file `info_CountryEarning2_stats.txt'
  Mapper input info is in `info_CountryEarning2_map-in.txt'
  Mapper output info is in `info_CountryEarning2_map-out.txt'
  Reducer input info is in `info_CountryEarning2_red-in.txt'

In [9]:
!more info_CountryEarning2_red-in.txt

### These are the inputs to the reducers
Reducer 0:
    ('Bahrain', [[54, 3.81], [-54, 3.81], [24, 1.25], [96, 1.25], [60, 1.25], [2, 9.95], [8, 4.95], [2, 12.75], [12, 1.65], [6, 2.95], [6, 2.95], [6, 2.95], [6, 4.25], [6, 4.25], [6, 4.25], [2, 9.95], [8, 1.45], [4, 9.95], [6, 2.95]])
>ium', [[12, 2.1], [2, 9.95], [120, 0.42], [120, 0.42], [120, 0.42], [48, 0.55], [48, 0.55], [12, 1.65], [10, 1.95], [10, 0.85], [24, 0.55], [2, 18.0], [4, 3.75], [4, 6.35], [4, 9.95], [4, 12.75], [4, 3.75], [16, 1.69], [8, 2.55], [6, 3.35], [2, 14.95], [6, 2.95], [2, 15.0], [12, 1.95], [24, 0.19], [24, 0.19], [12, 0.85], [3, 12.75], [48, 0.85], [12, 0.85], [12, 0.85], [12, 2.95], [6, 2.95], [2, 5.95], [2, 1.25], [12, 1.95], [10, 0.85], [10, 0.85], [10, 0.85], [10, 0.85], [3, 18.0], [1, 12.75], [2, 7.95], [12, 0.85], [24, 0.42], [24, 0.42], [24, 0.42], [24, 1.25], [10, 0.85], [10, 0.85], [8, 1.69], [12, 1.25], [6, 2.1], [6, 1.65], [3, 4.95], [8, 1.69], [12, 0.85], [3, 15.0], [24, 1.25], [24, 1.25], [24, 1.25], [12, 1.25], [12, 1.25], [24, 1.25], [24, 0.42], [24, 0.42], [24, 0.42], [24, 0.42], [24, 0.42], [12, 0.42], [24, 0.65], [24, 0.65], [24, 0.65], [100, 0.12], [24, 0.42], [25, 0.42], [24, 0.55], [24, 0.55], [24, 0.55], [24, 0.55], [12, 0.85], [36, 0.65], [10, 1.65], [10, 1.65], [12, 3.95], [12, 1.25], [6, 2.95], [12, 0.65], [12, 0.65], [12, 0.85], [12, 0.85], [12, 0.85], [12, 0.85], [12, 1.25], [3, 15.0], [-1, 2.95], [-1, 9.95], [-1, 2.95], [-3, 6.35], [48, 0.42], [24, 0.42], [48, 0.42], [48, 0.42], [36, 0.65], [144, 0.36], [12, 1.65], [12, 1.65], [12, 1.65], [12, 1.65], [4, 15.0], [12, 3.75], [2, 8.5], [6, 2.55], [6, 2.95], [6, 2.1], [24, 2.1], [24, 1.25], [8, 1.25], [8, 1.25], [8, 1.25], [12, 1.95], [1info_CountryEarning2_red-in.txt

In [10]:
!more q2output/part-0001

Australia       [83653, 137077.26999999973]
Austria [4827, 10154.319999999996]
Canada  [2763, 3666.380000000001]
Cyprus  [6317, 12946.289999999999]
Denmark [8188, 18768.140000000003]
European Community      [497, 1291.75]
France  [110480, 197403.90000000002]
Hong Kong       [4769, 10117.040000000003]
Iceland [2458, 4309.999999999997]
Lebanon [386, 1693.8800000000003]
Portugal        [16180, 29367.019999999993]
Spain   [26824, 54774.57999999997]
United Kingdom  [4263829, 8187806.364001113]
Unspecified     [3300, 4749.789999999996]
>ut/part-0001 (END)

### q3

In [11]:
!more q3.py

from mockmr import MockMR
import csv

#class CountryEarning(MRJob):
# When using in-memory combining, only 1 total message will be sent by each mapper.
# There are only 200+ countries in the world, and the number of messages is small
# so only 1 reducer needs to be set

class CountryEarning3(MockMR):

    def mapper_init(self):
        # in-memory cache variable
        self.country_money = {}

    def mapper(self, key, line):
        # read data, skip tilte, strip()
        parts = list(csv.reader([line]))[0]
        if parts[0] != 'InvoiceNo':
            country = parts[-1].strip()
            quantity = int(parts[3].strip().strip())
            unitPrice = float(parts[-3].strip())
>[m

In [18]:
!mkdir q3output
!rm -rf q3output
!python3 q3.py input=online-retail-dataset.csv output=q3output mappers=4 reducers=3

mkdir: q3output: File exists
Hooray, your job completed.
  The output is in the directory `q3output'
  Job statistics are in the file `info_CountryEarning3_stats.txt'
  Mapper input info is in `info_CountryEarning3_map-in.txt'
  Mapper output info is in `info_CountryEarning3_map-out.txt'
  Reducer input info is in `info_CountryEarning3_red-in.txt'

In [14]:
!more info_CountryEarning3_red-in.txt

### These are the inputs to the reducers
Reducer 0:
    ('Australia', [41705.56999999997, 43308.14999999997, 45257.560000000005, 6805.989999999999])
    ('Austria', [2483.52, 2390.8700000000003, 3266.9499999999994, 2012.9799999999996])
    ('Bahrain', [0.0, 548.4])
    ('Belgium', [8458.859999999997, 10020.789999999997, 12477.689999999993, 9953.620000000006])
    ('Brazil', [1143.6000000000001])
    ('Canada', [140.54, 3474.280000000001, 51.56])
    ('Channel Islands', [6302.649999999998, 3256.8200000000033, 8837.5, 1689.3200000000004])
    ('Cyprus', [7090.259999999994, 1073.5199999999995, 3673.5900000000015, 1108.920000000001])
    ('Czech Republic', [549.26, -57.51, 277.47999999999996, -61.51])
    ('Denmark', [5659.710000000001, 3776.8500000000004, 6053.409999999996, 3278.170000000001])
    ('EIRE', [58452.28999999995, 65841.57000000004, 94380.89999999964, 44602.0600000001])
    ('European Community', [614.9499999999998, 676.8])
    ('Finland', [7353.199999999999, 5511.500000000001, 4364.430000000002, 5097.6100000000015])
>ountryEarning3_red-in.txt

In [15]:
!more info_CountryEarning3_map-out.txt

### These are the (k,v) pairs produced by mappers
Mapper 0:
 (output k,v pairs resulting from different input lines are separated by -----)
    -----
    ('United Kingdom', 1963857.0799994292)
    ('France', 44440.64999999997)
    ('Australia', 41705.56999999997)
    ('Netherlands', 60689.699999999924)
    ('Germany', 52385.03000000009)
    ('Norway', 4722.700000000001)
    ('EIRE', 58452.28999999995)
    ('Switzerland', 9108.879999999997)
    ('Spain', 15625.12000000003)
    ('Poland', 1768.8199999999997)
    ('Portugal', 9436.919999999998)
    ('Italy', 4878.769999999995)
    ('Belgium', 8458.859999999997)
    ('Lithuania', 1661.06)
    ('Japan', 13302.420000000002)
    ('Iceland', 1187.18)
    ('Channel Islands', 6302.649999999998)
    ('Denmark', 5659.710000000001)
    ('Cyprus', 7090.259999999994)
>ountryEarning3_map-out.txt

In [19]:
!more q3output/part-0001

Australia       137077.26999999993
Austria 10154.32
Canada  3666.380000000001
Cyprus  12946.289999999997
Denmark 18768.14
European Community      1291.7499999999998
France  197403.90000000023
Hong Kong       10117.039999999995
Iceland 4310.0
Lebanon 1693.8800000000003
Portugal        29367.01999999999
Spain   54774.58000000003
United Kingdom  8187806.363997942
Unspecified     4749.789999999999
>ut/part-0001 (END)

### q4

In [22]:
!more q4.py

from mockmr import MockMR
import csv
import hashlib

#class CountryEarning(MRJob):
# When using in-memory combining, only 1 total message will be sent by each mapper.
# There are only 200+ countries in the world, and the number of messages is small
# so only 1 reducer needs to be set
NUM_REDUCERS = 3
class CountryEarningFreq(MockMR):

    def mapper_init(self):
        self.country_money = {}
        self.total_money = 0.0

    def mapper(self, key, line):
        # read data, strip(),
        parts = list(csv.reader([line]))[0]
        if parts[0] != 'InvoiceNo':
            country = parts[-1].strip()
            quantity = int(parts[3].strip().strip())
>[m

In [21]:
!mkdir q4output
!rm -rf q4output
!python3 q4.py input=online-retail-dataset.csv output=q4output mappers=4 reducers=3

mkdir: q4output: File exists
  File "/Users/ykb/Downloads/hw3/q4.py", line 23
    amount_spent = quantity *
                              ^
SyntaxError: invalid syntax

In [4]:
!more info_CountryEarningFreq_red-in.txt

### These are the inputs to the reducers
Reducer 0:
    ('Total_0', [8578.809999999998, 5547.749999999995, 2932.189999999995, 3018.3500000000004])
Reducer 1:
    ('Total_1', [8578.809999999998, 5547.749999999995, 2932.189999999995, 3018.3500000000004])
    ('Australia', [358.25])
    ('France', [855.86])
    ('United Kingdom', [7722.949999999997, 5189.499999999998, 2739.589999999995, 3018.3500000000004])
Reducer 2:
    ('Total_2', [8578.809999999998, 5547.749999999995, 2932.189999999995, 3018.3500000000004])
    ('Netherlands', [192.60000000000002])
>ountryEarningFreq_red-in.txt (END)

In [5]:
!more q4output/part-0001

Australia       0.01784371248835739
France  0.04262866649067845
United Kingdom  0.9299346021088704
>ut/part-0001 (END)